footer {
  background-color: var(--contrast-xl);
  border-top: 1px solid var(--contrast-l);
  margin-top: 6rem;
}

footer p {
  margin: 0;
  line-height: 1.5;
  color: var(--contrast);
}

footer p:first-child {
  font-weight: 500;
  color: var(--contrast-d);
}

footer > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
  max-width: 90rem;
  padding: 3rem var(--padding-horz);
}

footer > div div:last-child {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
