#installation {
  padding-top: 6rem;
}

#installation .choice {
  width: fit-content;
}

#installation .choice button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#installation .choice button img {
  border-radius: var(--rxs);
  height: 1.5rem;
  filter: drop-shadow(0 0 0.25rem var(--g7));
}

#installation .content {
  background-color: var(--gd);
  border-radius: var(--rs);
  margin-bottom: 3rem;
  padding: clamp(1rem, 6.667vw, 6rem);
}

#installation .content :first-child {
  margin-top: 0;
}

#installation .content :last-child {
  margin-bottom: 0;
}

#installation .content h4 {
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

@media only screen and (width < 30em) {
  #installation .content {
    padding: 1.5rem 1rem;
  }
}
