#sandbox h3:first-of-type {
  margin: 0;
}

#sandbox .codeblock {
  width: 100%;
}

#sandbox #sandbox-preset-choice {
  width: fit-content;
}

#sandbox #sandbox-error {
  background-color: var(--red);
  border-radius: var(--rs);
  font-weight: 600;
  padding: 1rem 1.5rem;
}

#sandbox #cp-sandbox {
  background-color: var(--bg);
  width: 100%;
  height: 70vh;
  max-height: 50rem;
}
