#sidenav {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

#sidenav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: right;
  text-transform: capitalize;
  margin-right: 0.5rem;
  height: 100%;
}

#sidenav li:not(#scroll-to-top) a {
  pointer-events: all;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  text-shadow: 1px 1px 0.1rem var(--gf7);
  text-decoration: none;
  line-height: 1.5;
  position: relative;
  transition: color 300ms;
}

#sidenav li:not(#scroll-to-top).active a {
  color: var(--pri);
  margin-right: 0.5rem;
}

#sidenav li:not(#scroll-to-top) a::after {
  content: '';
  display: block;
  background-color: var(--pri);
  margin-right: -1rem;
  margin: auto 0;
  width: 0;
  height: 1px;
  transition: width 300ms;
}

#sidenav li:not(#scroll-to-top).active a::after {
  width: 1rem;
}

#sidenav li:not(#scroll-to-top) a:is(:hover, :focus-visible) {
  text-decoration: underline;
}

#sidenav #scroll-to-top {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}

#sidenav #scroll-to-top[hidden] {
  pointer-events: none;
  display: unset;
}

#sidenav #scroll-to-top[hidden] a {
  opacity: 0;
  transform: scale(0);
}

#sidenav #scroll-to-top a {
  display: block;
  pointer-events: all;
  background-color: var(--gd);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem var(--black);
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  transition:
    background 150ms,
    opacity 300ms,
    transform 300ms;
}

#sidenav #scroll-to-top svg {
  fill: var(--fg);
  transition: fill 300ms;
}

#sidenav #scroll-to-top a:is(:hover, :focus-visible) {
  background-color: var(--pri);
  color: var(--white);
}

#sidenav #scroll-to-top a:is(:hover, :focus-visible) svg {
  fill: var(--white);
}

@media only screen and (width < 45em) {
  #sidenav li {
    display: none;
  }

  #sidenav #scroll-to-top {
    display: block;
    right: 1rem;
    bottom: 1rem;
  }
}
