#title {
  overflow: hidden;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background-color: var(--bg);
  padding: 0;
  max-width: 100%;
  height: 100dvh;
}

#title h1 {
  font-size: clamp(2.5rem, 8vw, 8.5rem);
  color: var(--g2);
  margin: 0;
}

#title h2 {
  font-size: clamp(1rem, 2vw, 2.25rem);
  color: var(--g5);
  margin: 0;
  max-width: 40em;
}

#title h1,
#title h2 {
  transition: transform 50ms linear;
}

#title h1 .text-gradient {
  background: radial-gradient(circle at center left, var(--fg), var(--pri));
  background-clip: text !important;
  -webkit-background-clip: text !important;
  text-shadow: 0.5rem 3rem 3rem var(--bg);
  color: transparent;
}

#title h1 .invert {
  display: inline-block;
  background: transparent;
  backdrop-filter: invert(1) saturate(96) hue-rotate(212deg);
  border-radius: 0.3em;
  text-align: center;
  line-height: 1.5;
  color: var(--bg);
  width: 1.5em;
  height: 1.5em;
}

#title a {
  background: transparent;
  border: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  transition: background 150ms;
  transform: translateX(-50%);
  z-index: 10;
}

#title a:is(:hover, :focus-visible) {
  background-color: var(--gf7);
}

#title .shape {
  backdrop-filter: invert(0.1) saturate(32) hue-rotate(32deg);
  border-radius: 24rem;
  box-shadow: 0 0 5rem #000;
  position: absolute;
  top: -50rem;
  left: 50%;
  width: 60rem;
  height: 60rem;
  transform: translateX(-50%) rotate(45deg);
  z-index: 2;
}

#title .content {
  margin: 0 auto;
  padding: 3rem var(--padding-sides);
  max-width: 90rem;
  z-index: 2;
}

#title .shadow {
  background: linear-gradient(180deg, #0000 75%, var(--bg) 95%);
}

@media only screen and (width < 45em) {
  #title .content {
    text-align: center;
  }

  #title h1,
  #title h2 {
    transition: transform 150ms;
  }
}
