main section:first-child {
  padding-top: 6rem;
}

#benchmark form {
  background-color: var(--gd);
  border-radius: var(--rs);
  margin-bottom: 3rem;
  padding: clamp(1rem, 6.667vw, 6rem);
}

#benchmark form > :first-child {
  margin-top: 0;
}

#benchmark form label:has(input, select) {
  max-width: fit-content;
}

#benchmark form label:has(input[type='range']) {
  display: flex;
  align-items: center;
}

#benchmark form input:not([type='range']),
#benchmark form select,
#benchmark form textarea {
  display: block;
  background-color: var(--g3);
  border: 1px solid var(--g9);
  border-radius: var(--rs);
  font-weight: 500;
  color: var(--fg);
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 8rem;
  max-width: 100%;
  min-height: 2.5rem;
  transition: border-color 150ms;
}

#benchmark form input[type='range'] {
  margin-top: 0.5rem;
  padding: 0;
  min-width: 8rem;
  width: 100%;
  color: red;
}

#benchmark form :is(input:not([type='range']), select, textarea):is(:hover, :focus-visible) {
  border-color: var(--g7);
}

#benchmark form .grow {
  flex: 1;
  max-width: 100%;
}

#benchmark form .inputs {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

#benchmark form .actions {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  margin-top: 3rem;
}

#benchmark form fieldset.group {
  border: 0;
  margin: 0;
  padding: 0;
}

#benchmark form .inline {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}

#benchmark #benchmark-status {
  align-self: center;
  color: var(--g2);
}

@media only screen and (width < 30em) {
  #benchmark form {
    padding: 1.5rem 1rem;
  }

  #benchmark form .actions {
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  #benchmark form .actions .button {
    height: unset;
  }

  #benchmark #benchmark-status {
    align-self: flex-start;
  }
}

#canvas-container {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: unset;
}

@property --benchmark-width {
  syntax: '<length>';
  inherits: false;
  initial-value: auto;
}

@property --benchmark-height {
  syntax: '<length>';
  inherits: false;
  initial-value: auto;
}

#canvas-container canvas {
  width: var(--benchmark-width);
  max-width: 100%;
  height: var(--benchmark-height);
}
