footer {
  background-color: var(--gf7);
  border-top: 1px solid var(--gd);
  margin-top: 6rem;
}

footer p {
  margin: 0;
  line-height: 1.5;
  color: var(--g5);
}

footer p:first-child {
  font-weight: 600;
  color: var(--g2);
}

footer > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
  max-width: 90rem;
  padding: 3rem var(--padding-sides);
}

footer > div div:last-child {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
