#installation .choice {
  width: fit-content;
}

#installation .choice button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#installation .choice button img {
  border-radius: var(--rxs);
  height: 1.5rem;
}

#installation .content h4 {
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

#installation .content {
  background-color: var(--contrast-l);
  border-radius: var(--rs);
  margin-bottom: 3rem;
  padding: 3rem clamp(1rem, 6.667vw, 6rem);
}
